<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">

    <insert id="addUser">
        insert into T_USER (U_Id, U_NAME, U_PASS) values (U_SEQ.nextval,#{u_name},#{u_pass})
    </insert>
    <select id="getUserById" resultType="com.model.User">
        select * from T_USER where U_Id=#{u_id}
    </select>
</mapper>